linux-crosscompile/
build/
projects/
qtifw-installer/
.svn/
alepherp.pro.*
compilar*
cppcheck.sh
nsis-win*
toolchain*
svn-commit*
src/WIAIface/
src/3rdparty/QtXlsxWriter/
src/3rdparty/dbase-code/
src/3rdparty/hooq/
src/3rdparty/libxls/
src/3rdparty/qods/
src/3rdparty/qtdesigner-4/
src/3rdparty/qtscriptgenerator-src-0.2.0/
src/3rdparty/quazip/
src/3rdparty/smtpclient/
src/3rdparty/xbase-2.0.0/
src/3rdparty/xbase64/
src/3rdparty/zint/
src/android/
src/doc/
src/docs/
src/lib/docmngr/
src/lib/jasperserver/
src/lib/printing/
src/modules/
src/plugins/aerphttpsqldriver/
src/plugins/csmailsmtp/
src/plugins/csv/
src/plugins/dbcommons
src/plugins/dbdocumentmngmnt/
src/plugins/jasperserverwebviewplugin/
src/plugins/ods/
src/plugins/plaincontentplugin/
src/plugins/plaintext/
src/plugins/pocosmtp/
src/plugins/qsane/
src/plugins/qtwain/
src/plugins/quickmailsmtp/
src/plugins/qwiascan/
src/plugins/qxtsmtp/
src/plugins/scriptjasperserverplugin/
src/plugins/sheetimposition/
src/plugins/text/
src/plugins/vmimesmtp/
src/plugins/xbase/
src/plugins/xls/
src/plugins/xlsx/
src/presupuestos_*
src/translations.4*
src/translations/
src/lib/daobusiness/batchdao*
src/lib/daobusiness/forms/aerpdiffremotelocalrecord*
src/lib/daobusiness/business/aerpbatchload*
src/lib/daobusiness/models/document*
src/lib/daobusiness/models/simpledocument*
src/lib/daobusiness/widgets/dbdocument*
src/lib/daobusiness/widgets/dbrecorddocuments*
src/lib/daobusiness/widgets/dbdocumentview*
src/lib/daobusiness/forms/uploaddocument*
src/lib/daobusiness/forms/documentrepoexplorer*
src/lib/daobusiness/forms/aerpchoosenewfileformat*
src/lib/daobusiness/forms/aerpdocumenthotfolders*
src/lib/daobusiness/dao/beans/aerpdocm*
src/lib/daobusiness/business/docmngmnt/
src/lib/daobusiness/ibpp
src/lib/daobusiness/dao/aerpfirebirddatabase*
src/lib/daobusiness/forms/sendemail*
src/lib/daobusiness/forms/emaildao*
src/lib/daobusiness/business/smtp/



